h1 {
    color: #0C2856;
    text-align: center;
}

.panel-body #img {
    width: 100%;
    height: 100%;
    box-shadow: -8px -4px 8px 1px rgba(0, 0, 0, 0.2), -8px -11px 20px 1px rgba(0, 0, 0, 0.19);
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.panel-default > .panel-heading {
    background-color: #DAF7A6;
}

.items {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    list-style-type: none;
    font-size: 1.7em;
    padding: 0;
    color: #0C2856;
}

.items li b {
    color: black;
    display: block;
    box-sizing: border-box;
    background-color: #ffffe0;
}

textarea #add_rev {
    width: 100%;
    height: 160px;
    vertical-align: top;
    text-align: left;
}

.col-md-9 {
    width: 100%;
}

div.rev_div {
    border-bottom: 1px solid #A9A9A9;
    padding: 8px;
    font-size: 1.3em;
}

.panel-default > .panel-heading {
    margin: 3px;
}

textarea {
    width: 100%;
    height: 160px;
    border-color: #DAF7A6;
    resize: none;
}

div.stars {
    width: 270px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 0;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome, serif;
}

.btn-warning {
    height: 40px;
    font-size: 1.3em;
}

.btn-warning a{
    color: white !important;
    text-decoration: none;
}

.btn-primary {
    font-size: 1.3em;
    height: 40px;
}

.btn-primary a {
    color: white !important;
    text-decoration: none;
}

div#loc {
font-size: 1.7em;
}

div#rating{
font-size: 1.7em;
}

div#cuisine{
font-size: 1.7em;
}

a#menu{
font-size: 1.7em;
text-decoration: none;
}