h1 {
    color: #0C2856;
    text-align: center;
}

#img {
    /* I set the same size in JS instead only when the image exists. */
    /*width: 500px !important;*/
    /*height: 250px !important;*/
    box-shadow: -8px -4px 8px 1px rgba(0, 0, 0, 0.2), -8px -11px 20px 1px rgba(0, 0, 0, 0.19);
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}



.panel-default > .panel-heading {
    background-color: #DAF7A6;
}

.items {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    list-style-type: none;
    font-size: 1.7em;
    padding: 0;
    color: #0C2856;
}



.items li b{
    color: black;
    display: block;
    box-sizing: border-box;
    background-color: #ffffe0;

}

div #loc{
display:none;
}


