{% extends "layout.html" %}
{% block head %}
<style>

.header-text hidden-xs{

position: absolute;
right:50%;

}
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
    font-size: 3em;
}

.header-text h1 {
    display:block;
    color: #FFFFFF;

    font-size: 2em;
}

form {
color: black;
}



</style>


{% endblock %}

{% block body %}

<div id="welpcarousel" class="carousel slide" data-ride="carousel" data-pause="hover">
  <ol class="carousel-indicators">
    <li data-target="#welpcarousel" data-slide-to="0" class="active"></li>
    <li data-target="#welpcarousel" data-slide-to="1"></li>
    <li data-target="#welpcarousel" data-slide-to="2"></li>
  </ol>
<center>
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img id="top-header" src="static/img/hungry.jpeg">
    <div class="header-text hidden-xs">
      <div class="col-md-12 text-center">
	 
      <h1> Hungry?</h1> <br>

      <form>
	<input type="text" placeholder="Zipcode">
	</form>
      </div>
      </div>
    </div> <!-- end active -->
    <div class="item">
      <img  id="top-header2" src="static/img/thirsty.jpeg">
<div class="header-text hidden-xs">
      <div class="col-md-12 text-center">
	 
      <h1> Thirsty?</h1> <br>

 <form>
        <input type="text" placeholder="Zipcode">
        </form>
</div>
</div>

    </div>
    <div class="item">
      <img  id="top-header3" src="static/img/index1.jpeg">
<div class="header-text hidden-xs">
      <div class="col-md-12 text-center">

      <h1> We've got just the thing. </h1><br>

 <form>
        <input type="text" placeholder="Zipcode">
        </form>
</div>
</div>   

 </div>
  </div>
</div> <!-- end slider -->



{% endblock %}
