<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Welp </title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.navbar-inverse{
margin-bottom: 0;
border-radius:0;
padding:0;
border-color:#70A7D8;
background-color:#70A7D8;
color: #014E85;
font-size: 1em;
}


.navbar-inverse .navbar-nav>li>a {
    color: #014E85;
}

body{
background-color: #CEE7F8;
}


</style>
{% block head %}
{% endblock %}

  </head>
  <body>



<nav class="navbar navbar-inverse">
<div class="navbar-header">
<a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:200px; margin-top: -18px;"
             src="static/img/nav_img.png">
    </a>
</div>

<div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        {% if not login %}
	<li><a href="/login">Login</a></li>
        <li><a href="/create_account">Create Account</a></li>
	{% else %}
	<li> <a href="#">Log out </a> </li>
	{% endif %}
	</ul>
      </div>
</nav>

{% block body %}
{% endblock %}

    </body>
</html>
