{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="css/restaurant_info.css">



{% endblock %}


{% block preJS %}
  <script>
      const restaurantId = +{{ restaurant_id }};
      // noinspection JSAnnotator
      const welpReviews = {{ json.dumps(welp_reviews) }};
  </script>
{% endblock %}


{% block body %}
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default coupon">
          <div class="panel-heading" id="head">
            <div class="panel-title" id="title">
<body>
<!-- <button id="show_loc"> show location </button> -->

              <h1 id="name">Restaurant Title</h1>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-9" id="info">
              <img src="" id="img">
              <br>
              <ul class="items">
                <li id="show_loc"><b>Location </b>
                  <p> <div id="loc"></div> </p>
                </li> 
                <li id="show_r"><b>Rating </b>
                  <div id="rating"></div>
                </li>
                <li id="show_c"><b>Cuisine </b>
                  <div id="cuisine"></div>
                </li>
                <li><a id="menu">Menu</a></li>
              </ul>
            </div>
            <div class="col-md-12">
              <p class="disclosure"></p>
            </div>
          </div>

          <div class="panel-footer">

            <div id="reviews">
              <div id="welpReviews">
                {% for restaurant_id, username, rating, review_title, review_content in user_reviews %}
                  Rating: {{ rating }}
                  <h4>{{ review_title }} by {{ username }}</h4>
                  {{ review_content }}
                {% endfor %}
              </div>
              <div id="zomatoReviews">
              </div>
            </div>

            <div id="newReview">

            </div>

          </div>
        </div>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$("div #loc").hide();

$(document).ready(function(){
    $("#show_loc").click(function(){
    $("div #loc").show().slideDown("slow");
});
});


//show cuisine
$("div #cuisine").hide();

$("#show_c").click(function(){
    $("div #cuisine").slideDown("slow");
});


//show rating
$("div #rating").hide();

$("#show_r").click(function(){
    $("div #rating").slideDown("slow");
});



</script>
  </div>
{% endblock %}
