{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="css/restaurant_info.css">
  <script>
      const zomatoApiKey = "{{ zomato_api_key }}";
      const restaurantId = +{{ restaurant_id }};
      // noinspection JSAnnotator
      const welpReviews = {{ json.dumps(welp_reviews) }};
  </script>
  <script src="js/welp.js"></script>
{% endblock %}

{% block body %}
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default coupon">
          <div class="panel-heading" id="head">
            <div class="panel-title" id="title">
              <h1>Restaurant Title</h1>
            </div>
          </div>
          <div class="panel-body">
            <img
                src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?dpr=1&auto=format&fit=crop&w=376&h=255&q=60&cs=tinysrgb"
                class="coupon-img img-rounded">
            <div class="col-md-9">
              <br>
              <ul class="items">
                <li>Location?</li>
                <li>Ratings?</li>
                <li>Description?</li>
                <li>Menu?</li>
              </ul>
            </div>
            <div class="col-md-12">
              <p class="disclosure"> FILLER </p>
            </div>
          </div>
          <div class="panel-footer">
            <div id="reviews">
              <div id="welpReviews">
                {% for restaurant_id, username, rating, review_title, review_content in user_reviews %}
                  Rating: {{ rating }}
                  <h4>{{ review_title }} by {{ username }}</h4>
                  {{ review_content }}
                {% endfor %}
              </div>
              <div id="zomatoReviews">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
